<% @page_title = "Home" %>
<h1>Your Exams</h1>
<h2><%= current_user.username %> - <%= link_to "log out", destroy_user_session_path, method: :delete %></h2>
<% if @exams and not @exams.empty? %>
  <ul>
    <% @exams.each do |exam| %>
      <li><%= link_to exam.name, exam %></li>
    <% end %>
  </ul>
  <% end %>
