<% @keepnavbar = true %>
<% @page_title = "Anomalies" %>
<h1><%= @page_title %></h1>
<% if @anomalies.size == 0 %>
  <p>No anomalies found for exam.</p>
<% else %>
  <ul>
    <% @anomalies.each do |anomaly| %>
      <li>
        <%= anomaly.user.display_name %>: <%= anomaly.reason %>
        <%= link_to "Remove anomaly", proctor_exam_anomaly_path(@exam, anomaly), method: :delete, class: "btn btn-danger" %>
      </li>
    <% end %>
  </ul>
<% end %>
