.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.exam-navbar-collapse ~ button > svg.to-show,
.exam-navbar-collapse ~ button > svg.to-collapse {
  display: none;
}
.exam-navbar-collapse ~ button:not(.collapsed) > .to-collapse {
  display: inline;
}
.exam-navbar-collapse ~ button.collapsed > .to-show {
  display: inline;
}
