<!--TODO -->
<% item.each do |option| %>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      <%= option.keys[0] %>
    </label>
  </div>
  <br>
<% end %>
