<%
  if item["lang"]
    lang = item["lang"]
  else
    lang = "text/x-java"
  end

  if item["initial"]
    contents = File.read(Rails.root.join("public", item["initial"]))
  else
    contents = ""
  end
%>

<p>Respond with code in the following area.</p>
<%= render "exams/codemirror", lang: lang, readonly: false, contents: contents, name: unique_label %>
