<p>Respond with code in the following area.</p>
<textarea class="codemirror-textarea" data-lang="<%= item["lang"] %>" data-readonly="false" name="<%= unique_label %>">
  <% file = item["initial"] %>
  <% if file %>
      <% contents = File.read(@exam.file(file)[:full_path]) %>
    <%= render html: contents %>
  <% end %>
</textarea>
