<% if item["lang"] %>
  <% @lang = item["lang"] %>
<% else %>
  <% @lang = "text/x-java" %>
<% end %>

<p>Respond with code in the following area.</p>
<textarea class="codemirror-textarea" <% if item["intial"] %>file="<%= item["initial"] %>"<% end %>></textarea>