<div class="col-12">
  <div><% item["prompt"]&.each do |p| %><%= p.html_safe %><% end %></div>
<% if readonly %>
<b>Answer:</b>
<% if answer.blank? %>
<i>No answer given</i>
<% else %>
<div class="border">
<%= answer %>
</div>
<% end %>
<% else %>
<%= form.text_area unique_label, label: "<i>(Free text response)</i>".html_safe, value: answer %>
<% end %>
</div>
