<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-primary">
    <input type="radio" name="<%= unique_label %>" value="true" autocomplete="off">Yes
  </label>
  <label class="btn btn-outline-primary">
    <input type="radio" name="<%= unique_label %>" value="false" autocomplete="off">No
  </label>
</div>