<!--TODO -->
<!-- make these radio buttons -->
<select>
  <option value="empty"></option>
  <% num = 0 %>
  <% item["options"].each do |option| %>
    <option value="<%= num %>">
      <%= option.html_safe %>
    </option>
    <% num += 1 %>
  <% end %>
</select>