.CodeMirror {
  border: 1px solid #eee;
  max-width: 100%;
  overflow: auto;
  resize: vertical;
}

.CodeMirror-scroll {
  max-width: 100%;
  overflow: auto;
}

.CodeMirror .readOnly {
  background: #8d6d001a;
}
