.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  max-width: 100%;
  overflow: auto;
}

.CodeMirror-scroll {
  height: auto;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror .readOnly {
  background: #8d6d001a;
}
