@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import '@kylesferrazza/react-quill/dist/quill.snow.css';
@import '@kylesferrazza/react-quill/dist/quill.bubble.css';

.ql-container {
  font-size: unset;
}

.ql-bubble .ql-tooltip {
  z-index: 1001; // make sure this hovers above the movers
}

.ql-snow .ql-picker:not(.ql-font) .ql-picker-label svg {
  padding: 2px 4px;
  position: inherit;
  bottom: 2px;
}

.ql-snow .ql-picker:not(.ql-font):hover .ql-picker-label svg {
  bottom: 3px;
}


.ql-snow .ql-font .ql-picker-label::before {
  line-height: 18px;
  padding: 1px !important;
}

.quill.bg-white {
  border-radius: 4px;
  background-color: unset !important;
  color: initial !important;
}

.quill.bg-white .ql-snow.ql-toolbar {
  background-color: rgba(255, 255, 255, 0.3);
}

.quill.bg-white .ql-container {
  background-color: white !important;
}

.ql-snow.ql-toolbar {
  padding: 4px;
  border-radius: 4px 4px 0 0;
}

.ql-snow.ql-toolbar button {
  padding: 3px;
  width: 24px;
}

.ql-snow.ql-toolbar button:hover, .ql-snow.ql-toolbar .ql-picker:hover {
  border: 1px solid gray;
  border-radius: 2px;
}


/////////////////////////////////////////////////////////////////////////////////////////
@each $color, $value in $theme-colors {
  div.card.border-#{$color} .remirror-theme .remirror-toolbar .MuiButtonBase-root,
  div.card.border-#{$color} .remirror-theme .remirror-toolbar .MuiIconButton-root,
  div.card.border-#{$color} .remirror-theme .remirror-toolbar .MuiButtonBase-root:hover,
  div.card.border-#{$color} .remirror-theme .remirror-toolbar .MuiButtonBase-root:active,
  div.card.border-#{$color} .remirror-theme .remirror-toolbar button.remirror-menu-button[aria-expanded="true"],
  div.card.border-#{$color} .remirror-theme .remirror-toolbar button.remirror-menu-item:hover,
  div.card.border-#{$color} .remirror-theme .remirror-toolbar button.remirror-menu-item:active,
  div.card.border-#{$color} .remirror-theme .remirror-toolbar button.remirror-menu-item:focus {
    background-color: theme-color-level($color, $alert-bg-level) !important;
    border-color: theme-color-level($color, $alert-border-level) !important;
    color: theme-color-level($color, $alert-color-level) !important;
  }
}

.remirror-theme {
  --rmr-font-family-default: "Helvetica", "Arial", sans-serif !important;
  .remirror-toolbar {
    height: 30px;
    border: 1px solid var(--rmr-color-border);
    border-top-left-radius: var(--rmr-radius-border);
    border-top-right-radius: var(--rmr-radius-border);
    padding: 2px;
    > button, > div.MuiBox-root > button, > div.MuiBox-root > .remirror-role > button {
      padding: 3px; 
      width: 24px;
      height: 24px;
    }
    > div.MuiBox-root > .remirror-role:not(:first-child) > button {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
    > div.MuiBox-root > .remirror-role:not(:last-child) > button {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  .remirror-menu-item {
    width: 100%;
  }
  button.remirror-menu-item-column {
    padding-right: var(--rmr-space-2);
  }
  .remirror-tooltip, &.remirror-tooltip { 
    background-color: white; 
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
  }
  div.remirror-editor-wrapper { // need the div to increase the rule specificity
    border: 1px solid var(--rmr-color-border);
    border-radius: var(--rmr-radius-border);
    padding-top: 0px;
    background-color: white;
    .ProseMirror, .ProseMirror:focus, .ProseMirror:active {
      box-shadow: none; 
      height: 100%;
      min-height: unset;
      padding: calc(0.75*var(--rmr-space-3)) var(--rmr-space-3);
      color: initial;
    }
  }
  .remirror-toolbar + .remirror-editor-wrapper {
    padding-top: 0px;
    border: 1px solid var(--rmr-color-border);
    border-top: 0px;
    border-bottom-left-radius: var(--rmr-radius-border);
    border-bottom-right-radius: var(--rmr-radius-border);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .remirror-floating-popover {
    z-index: 1000;
    > .remirror-toolbar {
      font-size: initial;
      background-color: rgb(68, 68, 68);
      border-radius: 25px; //var(--rmr-radius-border);
      padding: var(--rmr-space-2) var(--rmr-space-3);
      height: calc(24px + 2*var(--rmr-space-2));
      .remirror-separator { border-color: rgb(136, 136, 136); }
      > .remirror-role, > .remirror-group > .remirror-role { background-color: unset; }
      > button, > .remirror-group > button, > .remirror-group > .remirror-role > button { 
        background-color: rgb(68, 68, 68);
        border-color: white;
        color: white;
        width: 28px;
      }
    }
  }
}