.sidebar-small {
  transition: 0.35s max-width ease-in-out, 0.35s min-width ease-in-out;
  min-width: var(--sidebar-small);
  max-width: var(--sidebar-small);
}

.sidebar-expanded {
  transition: 0.35s max-width ease-in-out, 0.35s min-width ease-in-out;
  min-width: var(--sidebar-expanded);
  max-width: 50%;
  resize: horizontal;
  overflow: auto;
}

.mw-0 {
  max-width: 0;
}

.collapse:not(.width):not(.show) {
  display: none;
}

.collapsing:not(.width) {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease-in-out; 
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  } 
}

.collapse.width, .collapsing.width {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: unset; /* undoes bootstrap .collapsing height */
  transition: 0.35s width ease-in-out;
}

.collapse.width:not(.show) {
  display: none;
  height: unset;
}
.collapsing.width {
  position: relative;
  height: unset; /* undoes bootstrap .collapsing height */
  width: 0;
}

.collapse.width.show {
  width: calc(var(--sidebar-expanded) - 7em);
}
