<% @keepnavbar = true %>
<% @page_title = "Log in" %>

<h1>Welcome to Hourglass</h1>
<p>Hourglass is a Web-based exam server for Computer Science courses.</p>

<div id="signin">
  <div class="form-signin text-center">
    <%= link_to "Sign in with Bottlenose", user_bottlenose_omniauth_authorize_path, class: "btn btn-primary" %>
  </div>
</div>
