<% @page_title = "#{@exam.name} Rooms" %>
<div class="row">
  <div class="col-12">
    <h2><%= @page_title %></h2>
    <% @rooms.each_with_index do |room, i| %>
      <%= link_to room.name, exam_room_path(@exam, room), class: "btn btn-info" %>
    <% end %>
  </div>
</div>
