<% @page_title = @exam.name %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= @exam.name %></h1>
      <p><%= @exam.info["instructions"] %></p>
    </div>
  </div>
  <%= render "files", files: @exam.info["files"] if @exam.info["files"] %>
  <% num = 1 %>
  <% @exam.info["questions"].each do |question| %>
    <%= render "question", question: question, num: num %>
    <% num+=1 %>
  <% end %>
</div>