<div class="container">
  <%= render "files", files: @exam.info["files"] if @exam.info["files"] %>
  <% num = 1 %>
  <% @exam.info["questions"].each do |question| %>
    <%= render "question", question: question, num: num %>
    <% num+=1 %>
  <% end %>
</div>