@import "bootstrap";
@import "codemirror";
@import "bootstrap-treeview";

html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-check {
    margin-bottom: 2rem;
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-control:focus {
    z-index: 2;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.form-group {
  margin: 0;
}

#username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.flash {
  padding-top: 20px;
}

.question {
  margin: 20px;

  .part {
    margin: 20px;
  }
}

.CodeMirror .readOnly {
  background: #8d6d001a;
}

div.paginated {
  > div.question {
    display: none;

    > div > div.part {
      display: none;
    }

    &.active {
      display: initial;

      > div > div.part {
        display: initial;
      }
    }

    nav {
      display: none;
    }
  }

  > div.question.paginated {
    > div > div.part {
      display: none;
    }

    &.active {
      > div > div.part.active {
        display: initial;
      }
    }

    nav {
      display: initial;
    }
  }
}

.treeview.condensed {
  overflow: scroll;
  border: 1px solid black;
  border-radius: 5px;
}

.treeview.condensed .list-group-item {
  padding: 0.1em;
  white-space: nowrap;
  border: 0px solid white;
}

.tab-pane {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

@include media-breakpoint-up(sm) {
  .files-sidebar-container {
    position: -webkit-sticky;
    position: sticky;
  }
}

@include media-breakpoint-down(xs) {
  .files-sidebar-container {
    top: unset !important;
  }
}

.panel-tab-pane {
  border: 1px solid black;
  border-radius: 5px;
}
