@import "bootstrap";
@import "codemirror";

html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-check {
    margin-bottom: 2rem;
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-control:focus {
    z-index: 2;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.form-group {
  margin: 0;
}

#username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.flash {
  padding-top: 20px;
}

.question {
  margin: 20px;
  .part {
    margin: 20px;
  }
}

.CodeMirror .readOnly {
  background: #8d6d001a;
}

div.paginated {
  > div.question {
    display: none;
    > div > div.part {
      display: none;
    }

    &.active {
      display: initial;
      > div > div.part {
        display: initial;
      }
    }

    nav {
      display: none;
    }
  }

  > div.question.paginated {
    > div > div.part {
      display: none;
    }
    &.active {
      > div > div.part.active {
        display: initial;
      }
    }

    nav {
      display: initial;
    }
  }
}