<% if item.is_a? String %>
  <p><%= item.html_safe %></p>
<% else %>
  <%= render "exams/questiontypes/#{item.keys[0].downcase}", item: item[item.keys[0]],
             unique_label: "question_#{question_number}_part_#{part_number}_item_#{bodyitem_number}" %>
<% end %>
