<% if item.is_a? String %>
  <p><%= item.html_safe %></p>
<% else %>
  <%= render "exams/questiontypes/#{item.keys[0].downcase}", form: form, item: item[item.keys[0]],
             unique_label: "answers[question[#{question_number}][#{part_number}][#{bodyitem_number}]]" %>
<% end %>
