<% files.each do |file| %>
  <div class="card">
    <% lang = mime_type(file) %>
    <h2>File: <%= file %></h2>
    <textarea class="codemirror-textarea" data-lang="<%= lang %>" data-readonly="true">
      <% contents = File.read(@exam.file(file)) %>
      <%= render html: contents %>
    </textarea>
  </div>
<% end %>
