<% @page_title = "#{@exam.name} (Admin)" %>
<div class="row">
  <div class="col-12">
    <h1><%= @page_title %></h1>
    <p>
      <%= link_to "View Submissions", exam_submissions_path(@exam) %>
    </p>
  </div>
</div>
