<% if @exams.empty? %>
  <% @page_title = "No Exam Ready" %>
  <div class="row">
    <div class="col-sm-12">
      <h1>No exam ready.</h1>
    </div>
  </div>
<% else %>
  <% @page_title = "My Exams" %>
  <h1>My Exams</h1>
  <ul>
    <% @exams.each do |exam| %>
      <li><%= link_to exam.name, exam %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user.admin_or_prof? %>
  <%= link_to "New Exam", new_exam_path, class: "btn btn-success" %>
<% end %>