<% @page_title = @exam.name %>
<div id="interstitial">
  <p>Click the following button to enter secure mode and begin the exam.</p>
  <a href="#" id="begin-exam" class="btn btn-success">Begin exam</a>
</div>

<div id="exam-contents"></div>