<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Submitted</h1>
    <p class="lead">You have successfully submitted this exam.</p>
    <hr class="my-2">
    <p class="lead">
      <i><%= @exam.name %></i> was submitted by <i><%= current_user.username %></i>.
    </p>
  </div>
</div>
